.omx/
.local/
.DS_Store
node_modules/
.next/
out/
dist/
tsconfig.tsbuildinfo
.env
.env.local
om-availability.json
om-custom-tools.json
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
data/excel/*
!data/excel/.gitkeep
team-users.json
